* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
  color: black;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}



.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: 520px;
}
.tweetBox__tweetButton:hover {
  background-color: black;
  opacity: 0.5;
}
/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  /* width: 50px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 50px; */
  height: 1000px;
  width: 500px;
  margin: auto;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

.a-icons {
  text-decoration: none;
  color: black;
}

.a-icons:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.tweet-text {
  word-wrap: break-word;
   /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* width: 500px; */
    /* text-align: center; */
    inline-size: 500px;
}

.profileBox {
  display: flex;
  flex-direction: column;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  /* padding-right: 10px; */

}

.profile-picture {
  border: solid black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -100px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.profile-background{
  width: 620px;
  height: 220px;
}

.profile-name {

  margin-left: 20px;
}

.profile-handle {
  margin-left: 20px;
  margin-bottom: 10px;
}

.edit-profile {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(29, 155, 240);
  border: solid 1px rgb(29, 155, 240);
  color: white;
  border-radius: 20px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  left: 500px;
  top: 265px;
  }

  .edit-profile:hover {
    opacity: 0.9;
    background-color: white;
    color:  rgb(29, 155, 240);
    border: solid 1px rgb(29, 155, 240);
  }
  .edit-profile:active {
    opacity: 0.9;
    background-color: white;
    color:  rgb(29, 155, 240);
    border: solid 1px rgb(29, 155, 240);
  }

  .profile-following, .profile-followers {
    margin-left: 20px;
  }

  .ul-flex {
    display: flex;
    flex-direction: row;
    
  }

  li {
    padding: 20px;
    list-style: none;
  }

  /* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
}

.bottom-navbar {
  background: #ffffff;
  /* box-shadow: 0 2.3em 3em -1.18em rgba(0, 0, 0, 0.75); */
  margin-left: 0px;
  margin-right: 5px;
}

.bottom-navbar ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.3em; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;  ;
}

.bottom-navbar ul li {
  position: relative;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.5em 0; */
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-navbar ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.bottom-navbar ul .active a {
  color:  rgb(29, 155, 240);
}

.bottom-navbar ul li a span {
  margin-top: 0.5em;
  font-size: 0.5em;
  font-weight: 600;
}

.bottom-navbar ul .active {
  font-size: 1em;
}

.bottom-navbar__indicator {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 5em;
  z-index: 0;
  transition: all 0.2s linear;
}

.bottom-navbar__indicator::after {
  position: absolute;
  left: 65px;
  bottom: 0;
  width: 100%;
  content: '';
  border-bottom: 0.3em solid  rgb(29, 155, 240);
  border-radius: 0;
}

.slide-text {
  font-size: 18px;
  font-weight: bold;
}
.slide-text:hover {
 background-color: white;
}

.slide-text:active{
  background-color: white;
}

#media-text {
  margin-left: 15px ;
}

#like-text {
  margin-left: 15px;
}

/* .notifications-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
} */

#all-text {
  margin-right: 60px;
  margin-left: -100px;
}

#mention-text {
  margin-right: -110px;
  margin-left: 60px;
}
